.page-header {
  font-size: 48px;
  /* border: 1px solid white; */
  text-align: center;
}

.dashboard-container {
  /* border: 1px solid red; */
}

.categories-container {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid var(--dark);
  padding-top: 2rem;
  /* margin: 0; */
  /* border: 1px solid red; */
}

.category {
  /* border: 1px solid blue; */
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary);
  /* justify-content: center; */
  /* padding: 1rem; */
  border-radius: 2px;
  height: 100%;
  box-shadow: 10px 10px 0px 1px rgba(0, 0, 0, 0.5);
}

.category-header {
  /* border: 1px solid pink; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header-img {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 0 1rem; */
  padding: 0;
  /* border: 2px solid var(--dark); */
  /* background-color: var(--light); */
  /* border-radius: 5px; */
  padding: 5px;
}

.header-icon {
  /* border: 1px solid blue; */
  margin: 0;
  padding: 0;
  width: 4rem;
}

.header-title {
  /* border: 1px solid green; */
  /* width: 75%; */
  text-align: center;
  /* margin: 0 1rem; */
}

.category-list {
  list-style-type: none;
  /* border: 1px solid yellow; */
  width: 100%;
}

/* ANCHOR == Items == */
.item {
  display: block;
  /* border: 1px solid green; */
  background-color: var(--tertiary);
  color: var(--dark);
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* padding-left: 0.5rem; */
  text-align: center;
  border-radius: 2px;
  border: 2px solid var(--dark);
}

.item:hover {
  cursor: pointer;
}

/* ANCHOR == Buttons == */
.button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 5px;
}

.button:hover,
.button:focus {
  cursor: pointer;
}

.button--green {
  background-color: var(--btn-green-1);
  color: var(--btn-green-2);
  border: 3px solid var(--btn-green-2);
}
.button--green:hover,
.button--green:focus {
  background-color: var(--btn-green-2);
  color: var(--btn-green-1);
  border: 3px solid var(--btn-green-1);
}

.button--red {
  background-color: var(--btn-red-1);
  color: var(--btn-red-2);
  border: 3px solid var(--btn-red-2);
}
.button--red:hover,
.button--red:focus {
  background-color: var(--btn-red-2);
  color: var(--btn-red-1);
  border: 3px solid var(--btn-red-1);
}
